{% extends "@SonataAdmin/Core/user_block.html.twig" %}

{% block user_block %}
    <div style="margin: 10px; padding-left: 60px">
        <ul type="none">
            {% if app.user %}
                <li>
                    <a href="{{ path('fos_user_change_password') }}">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>&nbsp;
                        <b>Change Password</b>
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    {{ app.user }}
                    - <a style="color:blue; font-weight: bolder" href="{{ url('fos_user_security_logout') }}">Logout</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
