{% extends "@SonataAdmin/standard_layout.html.twig"%}

{% block side_bar_after_nav %}
{% endblock %}

{% block sonata_top_nav_menu %}
    {#
       Code to check if there are any create routes for Entities for Groups on Dashboard.
    #}
    {% set items_per_column = admin_pool.getOption('dropdown_number_groups_per_colums') %}
    {% set groups = [] %}

    {% for group in admin_pool.dashboardgroups %}
        {% set display_group = false %}

        {% for admin in group.items if display_group == false %}
            {% if admin.hasRoute('create') and admin.isGranted('CREATE') %}
                {% set display_group = true %}
                {% set groups = [group]|merge(groups) %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    {#
       Calculating column count to shown in Add Block.
    #}
    {% set column_count = (groups|length / items_per_column)|round(0, 'ceil') %}

    <div class="navbar-right" style="padding-right: 10px;">
        <ul class="nav navbar-nav">
            {# Checking if columns are present only then showing the add block #}
            {% if column_count > 0 %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-plus-square fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    {% include admin_pool.getTemplate('add_block') %}
                </li>
            {% endif %}
            <li class="dropdown user-menu">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    {% include admin_pool.getTemplate('user_block') %}
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}