{% extends "@FOSUser/layout.html.twig" %}
 {% block b1 %} 
  {% endblock %} 
{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
